<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.newcovidtracker">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCB3lT9OLRUJgkb5flgGmgrW0lhjxOyCIA" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".GeoFenceActivity"></activity>
        <activity android:name=".AdminDashBoard" />
        <activity android:name=".AddAdminActivity" />
        <activity android:name=".DevloperActivity" />
        <activity android:name=".faqActivity" />
        <activity android:name=".NewActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".VerifyPhoneActivity" />
        <activity android:name=".Tracker.MainActivity" />
        <activity android:name=".Tracker.DistrictActivity" />
        <activity android:name=".Tracker.DetailIndiaActivity" />
        <activity android:name=".Tracker.IndiaActivity" />
        <activity android:name=".Tracker.DetailCountryActivity" />
        <activity android:name=".Tracker.CountryActivity" />
        <activity android:name=".PhoneActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>